@import '../node_modules/spectre.css/dist/spectre.css';

body {
  background: black;
  color: #37d637;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #37d637;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #37d637;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #37d637;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #37d637;
}

input[type=text] {
  background: none;
  color: #37d637;
  border: none;
}

.tmux-list {
  display: table;
  width: 100%;
}

.tmux-list .tmux-row {
  display: table-row;
}

.tmux-list .tmux-row > div {
  display: table-cell;
}

.launch-container {
  margin-top: 15px;
}

.btn.btn-primary {
  background: none;
  color: #37d637;
  border-color: #37d637;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  background: #37d637;
  color: white;
  border-color: #37d637;
}